body{
    background-image: linear-gradient(180deg,red,yellow,blue);
}
#hellodiv{
    background-image: linear-gradient(rgb(133, 171, 181),blue);
    border:2px solid burlywood;
    text-align: center;
}
