@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
h3{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}


body{
    color: rgb(247, 247, 249);
    background-color: black;
}
.container{
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(240, 127, 6);
    background-color: #232323;
}
.features {
    display: flex; 
    justify-content: space-around;
    padding: 20px;
}

.feature-item {
    text-align: center;
    width: 30%; 
}

@media (max-width: 768px) {
    .feature {
        flex-direction: column;
    }
    .feature-item {
        width: 90%;
        margin-bottom: 20px;
    }
}
